/* div {
    color: red;
}

.div1{
color:white;
background-color: black;

}
#testid {
border: 1px solid green;
width: 10px;
height: 3em;

}
*{
    margin: 0;
}
div span {
    color: yellow;
    background: black;

}
.class1 .class2{
background-color: pink;
height: 50px;
width: 4rem;
margin: 1px ;}
.class3 > .class4{

    color: blue;
}
.parent1 + .parent2{

    font-size: 33px;
}
.fontx22{
    font-size: 22px;

}
.div2 {

    color:grey
} 
.div1{
    text-decoration: underline solid white;
    color:green */


.div1.div2{
    color: red;
}
.divBox{
    height: 100px;
    width: 150px;
    background: black;
}
.divBox:hover{
    background: grey;
    height: 300px;
    width: 450px;

}
a:active{

    font-size: 40px;}
/* transition: all 2s ease; (выполнение  анимации в секундах) */

 
